@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.woff);
    src: url(../fonts/Roboto-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.woff);
    src: url(../fonts/Roboto-Bold.woff2);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.woff);
    src: url(../fonts/Roboto-Light.woff2);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bookman';
    src: url(../fonts/Bookman.woff);
    src: url(../fonts/Bookman.woff2);
    font-weight: 200;
    font-style: normal;
}


$color_black: #000000;
$color_softBlack: #151515;
$color_softWhite: #fafafa;
$color_grey: #7d7d7d;
$color_greyTransp: #7d7d7d1a;
$solidBorderSoftWhite: .15rem solid #fafafa;
$solidBorderSoftBlack: .15rem solid #151515;
$solidBorderGrey: .15rem solid #7d7d7d;
$borderRadius: 2rem;
$color_alert: #fefea6;
$color_pink: #b900e7;
$color_lightPink: #dcb3e7;
$color_blue: #0500e7;
$color_lightBlue: #c3c7ee;
$color_green: #04912c;
$color_lightGreen: #dfffd9;
$color_turqoise: #00cbe7;
$color_lightTourqoise: #edfdff;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
    background-color: $color_softBlack;
    color: $color_softWhite;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 200;
}

h2 {
	font-family: 'Roboto';
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
}

li {
    list-style-type: none;
}

img {
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: #fff;
}

.container {
	max-width: 1400px;

	// padding-left: 35px;
	// padding-right: 35px;
    padding: 30px 20px;
	margin-left: auto; 
	margin-right: auto; 
	align-items: center;
}

main {
    padding-top: 64px;
}

button {
	
	border: none;
	/* font: $fontRobotoBold; */
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.button:hover {
	background-color: #bc572b;
}

.button:focus {
	box-shadow: inset 0px 0px 0px 3px #ce4307;
}

.button:active {
	background-color: #ce4307;
}

// html.light-mode {
//     --color_black: #fff;
//     --color_softBlack: #fafafa;
//     --color_softWhite: #151515;
//     --color_greyTransp: #1a19191a;
//     --solidBorderSoftWhite: .15rem solid #151515;
//     --solidBorderSoftBlack: .15rem solid #fafafa;
//     --solidBorderGrey: .15rem solid #7d7d7d;
//     --color_alert: #f28175;
// }

// HEADER

.header {
    overflow: hidden;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid $color_softWhite;
    background-color: $color_softBlack;
    z-index: 3;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 64px;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;

    }

    &__logo {
        display: block;
        width: 40px;
        height: 40px;
        // background-color: #04912c;
        background-image: url(../images/FG-logo.jpg);
        background-size: cover;
    }

    &__burger,
    &__mode {
        background-color: inherit;
        border: none;
        width: 40px;
        height: 40px;
    }
}

// LOGO

.logo {

    &__container {
        display: flex;
        flex-direction: row;
    }
    
    &__img {
        width: 11%;
        margin-right: 10px;
    }

    &__name {
        font-family: 'Bookman';
        line-height: 1;
        font-size: 12rem;
    }
}

// ABOUT 

.swiper__about {
    max-width: 100%;
    overflow: hidden;
}

.card {

    &__img {
        height: 250px;
        width: 100%;
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__description {
        margin-bottom: 10px;
    }

    &__more {
        text-decoration: underline;
    }
}

// PROJECTS

.projects {
   
    &__item {
        align-self: center;
        padding: 10px 30px;
        filter: grayscale(1);
    }
}

.swiper__projects {
    overflow: hidden;

    & .swiper-wrapper {
        transition-timing-function: linear;
    }
}

// PRODUCTS

.products {
   
    &__movie {
        width: 100%;
    }
}

// TEAM

.team {

    &__content {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 30px;
    }

    &__founder .member {
        &__content {
            padding: 20px 30px;

            & :not(:last-child) {
                margin-bottom: 15px;
            }
        }
        &__description {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__description {
        width: 50%;
        font-size: 16px;
        line-height: 25px;
        text-indent: 20px;

        & :not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__crew {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.member {
    flex: 1 1 30%;
    display: flex;
    flex-direction: row;

    &__photo {
        width: 50%;
        height: 100%;

        & img {
            display: block;
            min-height: 250px;
            height: 100%;
        }
    }

    &__content {
        width: 50%;
        padding: 10px 20px;
        border: 1px solid $color_softWhite;

        & :not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__email {
        display: block;
        text-decoration: underline;
    }

    &__description {
        font-size: 12px;
        line-height: 16px;
    }
}

// CONNECTION

.connection {
  
    &__phone {
        margin-bottom: 50px;
    }

    &__feedback {
        margin-bottom: 30px;
    }
}

.feedback {
    &__title {
        margin-bottom: 20px;
        font-weight: 400;
    }
}

.form {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }    

    & input,
    & textarea {
        height: 46px;
        background-color: inherit;
        border: 1.5px solid $color_softWhite;
        border-radius: 7px;
        padding: 10px;
        color: $color_softWhite;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 200;
    }

    &__inputs,
    &__text {
        flex: 1 1 50%;
    }

    textarea {
        height: auto;
        resize: none;
    }

    &__submit {
        align-self: flex-end;
        width: fit-content;
        padding: 8px 20px;
        background-color: inherit;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        border: 1px solid $color_softWhite;
        border-radius: 18px;
        color: $color_softWhite;
    }

    &__agreement {
        display: flex;
        flex-direction: column;
        font-size: 12;

        & a {
            color: $color_grey;
            text-decoration: underline;
        }
    }

    &__controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// FOOTER 

.footer {
    height: 185px;
    margin-top: auto;
    border-top: 2px solid $color_softWhite;

    &__container {
        display: flex;
        // width: 30%;
        padding: 5px;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        width: 35%;
        font-size: 21px;
        font-weight: 200;
    }

    &__lead, 
    &__phone,
    &__company {
        margin-bottom: 15px;
    }

    &__ogrn {
        margin-right: 20px;
    }

    &__rigths {
        display: flex;
        flex-direction: row;
        font-size: 16px;
    }
}









